<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">    
    <title>SAG Cafeteria</title>        
    <style>
        .tabs .indicator{
            background-color: #0d47a1;
        }
        body{
            align-items: center;
            
        }
      </style>
  </head>    
    <body>                     
      <div class="col s12">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
  
    <div class="row container padtop80" style="min-height:100vh">
      <div class="col m6 offset-m3 s12">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#login" class="active blue-text text-darken-4">Login</a></li>
              <li class="tab col s3"><a href="#register" class="blue-text text-darken-4">Register</a></li>        
            </ul>
          </div>
        </div>
      </div>
   
        <div id="login" class="col s12 padtop40">                    
            <div class="col m6 offset-m3 s12 z-depth-1 padtop10 " >
                        <div class="lid">
          <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
            {% csrf_token %}      
              <div class="input-field col s12 ">
                  <input placeholder="Placeholder" name="username-login" id="first_name" type="text" class="validate">
                  <label for="first_name">User Name/ Email</label>
                </div>
                <div class="input-field col s12 ">
                  <input placeholder="Placeholder" name="password-login" id="password1" type="password" class="validate">
                  <label for="password1">Password</label>
                </div>
                <p class="padleft10 " >
                  <button class="blue darken-4 btn" type="submit">Login</button>
              </p>
            </form>

                <p class="padleft10 " >
                    <a href="#" class="blue-text text-darken-4" id="hider">Forgot my password?</a>
                </p>
                </div>
                        <div class="hid">
                            <div class="input-field col s12 ">
                              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                              <label for="first_name">Enter Email</label>
                            </div>
                            <div class="padleft10">
                                <a href="#" class="blue darken-4 btn">Submit</a>
                                <a href="#" class="grey btn" id="cancel">Cancel</a>
                            </div>
                        </div>
                        <div class="center">
                        <div class="preloader-wrapper active center">                
                            <div class="spinner-layer spinner-red-only">
                              <div class="circle-clipper left">
                              </div>
                            </div>
                        </div>
                 </div>
            </div> 
          </div>
    <div id="register" class="col s11 padtop40">
      <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
          {% csrf_token %}
              <div class="col m6 offset-m3 s12 z-depth-1 padtop10">
                <div class="input-field col s12 ">
                  <input placeholder="Please enter your username without spaces" name="username" id="first_name" type="text" class="validate" required>
                  <label for="first_name">User Name* </label>
                </div>
                <div class="input-field col s12 ">
                  <input placeholder="Please enter your mail address" name="email" id="user_email" type="email" class="validate" required>
                  <label for="first_name"> Email* </label>
                </div>          
                <div class="input-field col s12 ">
                  <input placeholder="Please enter your organization name" name="org" id="organization_name" type="text" class="validate" required>
                  <label for="first_name"> Organization Name* </label>
                </div>          
                <div class="input-field col s12 ">
                  <input placeholder="Please enter your employee-id" name="emp-id" id="employee_id" type="text" class="validate" required>
                  <label for="first_name">EmployeeId* </label>
                </div> 
                <div class="input-field col s12 ">
                  <input placeholder="Please enter your mobile number" name="mob-no" id="mobile-number" type="tel" class="validate" required>
                  <label for="password1">Mobile Number*</label>
                </div>     
                <div class="input-field col s12 ">
                  <input placeholder="Enter a password" id="password-input" name="passwd-inp" type="password" class="validate" required>
                  <label for="password1">Password*</label>
                </div>
                <div class="input-field col s12 ">
                  <input placeholder="Please re-enter the password" name="passwd-conf" id="password-confirm" type="password" class="validate" required>
                  <label for="password1">Confirm Password*</label>
                </div>
                <p>
                  Please upload your id card:
                </p>
                <input type='file' onchange="readURL(this);" id="img" name="img" accept="image/*" required />
                <img id="id-card" src="/media/id.jpg" alt="Id card preview" width= 100% height= auto;/>

                <p class="padleft10">
                    <button type="submit" class="blue darken-4 btn">Register</button>                    
                </p>
            </div>  
            </form>      
      </div>    
  </div>      

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js">
        </script>
        <script>
          function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#id-card')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
          }
        </script>
        <script>
    	   $( document ).ready(function(){
    	       $(".button-collapse").sideNav();
               $(".dropdown-button").dropdown();
    	       $('select').material_select(); 
               $('.slider').slider({full_width: true});
                   $(".button-collapse").sideNav();
           })
        </script>
        <script>
          $(document).ready(function(){
            $(".hid").hide();
            $("#hider").click(function(){
              $(".remx").hide();
              $(".hid").show();
              }); 
          $("#cancel").click(function(){
            $(".remx").show();
            $(".hid").hide();
            })
            });
        </script>
    </body>
</html>